.header {
  display: block;
  width: 100%;
  background-color: white;
  padding: 28px 0;
  height: 75px;
  border: 1px solid rgba(16, 24, 40, 0.1254901961);
  margin-bottom: 64px;
  z-index: 100;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerWrapper .logo {
  position: absolute;
  top: 13px;
}

.nav {
  gap: 40px;
  display: flex;
  margin-left: auto;
}

.link {
  padding-bottom: 24px;
  position: relative;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 500;
}

.link.active::after {
  background-color: var(--accent-color);
  border-radius: 4px;
  content: "";
  position: absolute;
  bottom: -3px;
  height: 5px;
  width: 100%;
  display: block;
}
