.header {
  display: block;
  width: 100%;
  background-color: var(--primary-text-color);
  padding: 24px 0;
  margin-bottom: 24px;
  color: white;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerWrapper .logo {
  width: 50px;
  height: 50px;
}

.nav {
  gap: 40px;
  display: flex;
  margin-left: auto;
}

.link {
  position: relative;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 500;
  height: 100%;
}

.link.active::after {
  background-color: var(--accent-color);
  border-radius: 5px;
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  display: block;
}
